h1 {
    color:rgb(8, 78, 230);
    text-align: center;
    font-style:italic ;
    text-size-adjust: 30px;
}
p {
    font-size:7mm ;
}
body {
    background-color: lightgoldenrodyellow;
}
ul {
    font-size: 5mm;
    color: rgb(23, 122, 10);
}